{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "env": {
        "es6": true,
        "commonjs": true,
        "browser": true,
        "node": true
    },
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "rules": {
        "quotes": [
            "error",
            "single",
            {
                "avoidEscape": true
            }
        ],
        "no-console": "warn",
        "no-debugger": "warn",
        "react/display-name": [
            "warn"
        ],
        "react/require-render-return": [
            "warn"
        ],
        "react/prefer-es6-class": [
            "warn",
            "always"
        ],
        "react/style-prop-object": "warn",
        "react/jsx-wrap-multilines": "warn",
        "react/jsx-no-bind": "warn",
        "react/jsx-max-props-per-line": [
            "warn",
            {
                "maximum": 2
            }
        ],
        "react/jsx-handler-names": [
            "warn",
            {
                "eventHandlerPrefix": "handle",
                "eventHandlerPropPrefix": "on"
            }
        ],
        "react/sort-comp": [
            "warn",
            {
                "order": [
                    "static-methods",
                    "lifecycle",
                    "everything-else",
                    "rendering"
                ],
                "groups": {
                    "rendering": [
                        "/^render.+$/",
                        "render"
                    ]
                }
            }
        ]
    },
    "globals": {
        "$": false,
        "process": false,
        "__dirname": false
    }
}